@media (max-width: 767px) {/*For Mobile*/
    
        *{
            box-sizing: border-box;
            
        }
        body{
        background: rgb(238,172,16);
        background: linear-gradient(90deg, rgba(238,172,16,1) 19%, rgba(200,0,255,1) 100%);
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: 'Noto Sans', sans-serif;
        box-sizing: border-box;  
        align-items: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        }
        h1 {
            margin: 10px 0 0 0;
        }
        .parent {
            padding: 5%;
            position: relative;
            display: flex;
            text-align: center;
            justify-content: space-between;
            background: rgb(255, 255, 255);
            width: 100%;
            border-radius: 20px;
            margin: 21.5%  15%;
            border:solid 1px black;
            box-shadow:   5px 3px 8px 2px #686464ba;
            box-sizing: border-box;
            height: 100%;
        }
        .cont1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            text-align: start;
            margin: 0px;
        }
        .cont1 .box {
            width: 100%;
            height: 100px;
        }
        .box input {
            box-sizing: border-box;
            width: 76%;
            height: 40%;
            border-radius: 6px;
            border: solid 1.7px black;
            background: white;
            vertical-align: middle;
            margin: 2% 0 ;
        }
        .boxsmall input {
            width: 100%;
            height: 100%;
        }
        .cont1 .boxsmall  {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 70px;
        }
        .cont1 .boxsmall h5 {
            width: 40%;
            margin: 0 -3px;
            text-align: center;
        }    
        .cont1 .boxsmall input {
            width: 10%;
        }   
        .boxsmall .check {
            margin: 0;  
        }
        [type="email"] {
            padding: 0 4%;
        }
        [type="password"] {
            padding: 0 4%;
        }
        .circle {
            position: absolute;
            top: 5%;
            right: 5%;
        }
        .user {
            display: flex;
            align-items: center;
            justify-content: start;
        }
        .user a {
            padding: 0 10px;
            text-decoration: none;
            color: rgb(79, 114, 218);
        }
        .cont2 img {
            display: none;
        }
        .images img {
            width: 30px;
        }
        .images{
            display: flex;
            justify-content: center;
            gap: 15px;
            width: 99%;
        }
        .cont1 button {
            background: linear-gradient(90deg, rgba(238,172,16,1) 19%, rgba(200,0,255,1) 100%);
            width: 76%;
            height: 10%;
            border-radius: 6px;
            border: 0;
            margin-top: 8%;
            color: rgb(255, 255, 255);
        }
        #signwith{
            width: 106%;
            text-align:center;
            margin: 0.3em 0em 0.3em 1%;
        }
        #signwith img{
            width: 29%;
        }
        .texbox input{
            box-sizing: border-box;
            border-radius: 6px;
            border: solid 1.7px black;
            background: white;
            height: 100%;
            display: inline-block;
        }
         [type="text"] {
            padding: 0 4%;
            width: 37%;
        }
        .texbox{
            height: 10%;
        }
        .box{
            margin-top: 2.3%;
        }
    }
@media (min-width: 768px)  {/*For Tablet*/
    *{
        box-sizing: border-box;
    }
    body{
    background: rgb(238,172,16);
    background: linear-gradient(90deg, rgba(238,172,16,1) 19%, rgba(200,0,255,1) 100%);
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;  
    align-items: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    }
    h1 {
        margin: 10px 0 0 0;
    }
    .parent {
        padding: 5%;
        position: relative;
        display: flex;
        text-align: center;
        justify-content: space-between;
        background: rgb(255, 255, 255);
        width: 100%;
        border-radius: 20px;
        margin: 5.5% 15%;
        border:solid 1px black;
        box-shadow:   5px 3px 8px 2px #686464ba;
        box-sizing: border-box;
        height: 100%;
    }
    .cont1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 79%;
        text-align: start;
        margin: 0px;
    }
    .cont1 .box {
        width: 100%;
        height: 100px;
    }
    .box input {
        box-sizing: border-box;
        width: 76%;
        height: 40%;
        border-radius: 6px;
        border: solid 1.7px black;
        background: white;
        vertical-align: middle;
        margin: 2% 0 ;
    }
    .boxsmall input {
        width: 100%;
        height: 100%;
    }
    .cont1 .boxsmall  {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 70px;
    }
    .cont1 .boxsmall h5 {
        width: 40%;
        margin: 0 -3px;
        text-align: center;
    }    
    .cont1 .boxsmall input {
        width: 10%;
    }   
    .boxsmall .check {
        margin: 0;  
    }
    [type="email"] {
        padding: 0 4%;
    }
    [type="password"] {
        padding: 0 4%;
    }
    .circle {
        position: absolute;
        top: 5%;
        right: 5%;
    }
    .user {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .user a {
        padding: 0 10px;
        text-decoration: none;
        color: rgb(79, 114, 218);
    }
    .cont2 {
        width: 50%;
        padding-top: 18%;
        padding-right: 5%;
    }
    .cont2 img {
        width: 100%;
        max-width: 336px;
    }
    .images img {
        width: 30px;
    }
    .images{
        display: flex;
        justify-content: center;
        gap: 15px;
        width: 75%;
    }
    .cont1 button {
        background: linear-gradient(90deg, rgba(238,172,16,1) 19%, rgba(200,0,255,1) 100%);
        width: 76%;
        height: 10%;
        border-radius: 6px;
        border: 0;
        margin-top: 8%;
        color: rgb(255, 255, 255);
    }
    #signwith{
        width: 88%;
        text-align:center;
        margin: 0.3em 0em 0.3em 1%;
    }
    #signwith img{
        width: 29%;
    }
    .texbox input{
        box-sizing: border-box;
        border-radius: 6px;
        border: solid 1.7px black;
        background: white;
        height: 100%;
        display: inline-block;
    }
     [type="text"] {
        padding: 0 4%;
        width: 37%;
    }
    .texbox{
        height: 10%;
    }
    .box{
        margin-top: 2.3%;
    }
}

@media (min-width: 1200px) {/*For Pc & Large screen*/
    
    #signwith{
        width: 75%;
        text-align:center;
        margin: 0.3em 0em 0.3em 1%;
    }
    .cont1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        text-align: start;
        margin: 0px;
    }
    .cont2 {
        width: 50%;
        padding-top: 4%;
        padding-right: 5%;
    }
    }
   
