 ul {
    list-style: none; 
    margin-left: 15%;
    margin-top: 3%;
 
}
 li {
    display: inline;
    margin: 1%;

}
 a{
    font-family: serif;
    font-size: large;
    color: black;
    text-decoration: none
    
    
}
 li :hover{
    text-decoration: underline;
    font-size: 20px;
}
