html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
}
body{
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-size: auto;
    /*display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;*/
}
header{
    box-shadow: rgba(0, 0, 0, 0.37) 1px 1px 10px;
    background-image: linear-gradient(rgba(114, 102, 63, 0.79),rgba(218, 181, 61, 0.79));
    display: block;
    margin: 0px;
}
main{
    margin-top: 50px;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
#site-title{
    margin: auto;
    text-align: center;
    padding: 30px;
}

#search-form{
    margin: auto;
    padding: 0px 50px 50px 50px;
}
#search-form-title{
    background-color: rgba(218, 181, 61, 0.79);
    font-family: "Berlin Sans FB";
    text-align: center;
    margin-top: 0px;
    padding: 20px 10px;
}
#form-containner{
    overflow: hidden;
    border-radius:15px;
    width: 50%;
    display: inline-block;
    background-color: rgba(218, 181, 61, 0.42);
    box-shadow: rgba(0, 0, 0, 0.77) 1px 1px 10px;
}
.select,.input{
    font-family: "Berlin Sans FB";
    padding: 5px;
    border-radius: 5px;
    border:solid 1px rgba(204, 204, 204, 0.93);

}
.submit-btn{

    font-family: "Book Antiqua";
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.37) 1px 1px 10px;
    background-color: #19aec2;
    border-width:0px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.form-top-section,.form-bottom-section{
    display: block;
    width: 100%;
}
.form-top-section .form-row{
    width:32.5%;
    display: inline-block;
    box-sizing: border-box;
}
.form-row *{
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}
.form-row{
    margin: 5px 0px;
}
#form-input-search{
    text-align: center;
    width: 100%;
}
/** style for phones and tablets*/
@media screen and (max-width:729px) {
    .form-top-section .form-row{
        display: block;
        width: 100%;
    }
    .form-row{
        display: block;
    }

}