body {background: rosybrown;}
@media screen and (max-width:400px){
body {background: green;}
.crt{
    flex-direction: column;
    align-items: center;
}
.parent-carts{
    flex-direction: column;
    align-items: center;
}
}  

@media screen and (min-width:401px) and (max-width:768px){
    body {background: red;}
}     
